
@media screen and (min-width: 620px) {

	/*Screen width >= 620px*/
	/*---------------------*/
	.navbar {
		text-align: initial;
	}

	#title {
		font-size: 1.3em;
		padding: 0.9em 2em 0.7em;
		float: left;
	}

	#title span {
		display: inline-block;
		font-size: 0.9em;
		
	}

	#result {
		font-size: 0.9em;
	}

	.searchResults {
		font-size: 1.2em;
		font-weight: bold;
	}

	li {
		padding: 0 0;
	}

	.image {
		display: block;
		width: 80px;
		height: 100px;
		text-align: center;
	}

}