
@import '../css/css-reset.css';

/*GENERAL*/
/*-------*/
body {
	width: 100%;
	min-width: 240px;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	line-height: 1.2em;
	background: skyblue;
}

#wrapper {
	padding: 2.5%;
	width: 95%;
}

/*NAVIGATION*/
/*----------*/
.navbar {
	background-color: #CC361F;
	color: #fff;
	min-width: 100%;
	margin-top: -10px;
	min-height: 50px;
	border-bottom: 1px solid #000;
	box-shadow: 0 0 5px;
	padding: 1.2em 0 0.5em;
	text-align: center;
}

a {
	text-decoration: none;
	color: #fff;
}

#link2home {
	font-weight: bold;
}

#title span {
	display: block;
	font-size: 0.8em;
	text-decoration: 
}

/*MAIN*/
/*----*/
#main {
	margin: 20px 0;
}

.form-input {
	text-align: center;
}

.search-name {
	width: 70%;
	height: 30px;
	padding: 0 0.2em;
	margin: 0.3em 0;
	font-size: 1.3em;
	margin-right: 0;
}

.search-btn {
	height: 34px;
	font-size: 1.3em;
	margin-left: 0;
}

/*SEARCH RESULTS*/
/*----------*/
.searchResults {
	font-size: 1em;
	font-weight: bold;
}

#result {
	margin: 0 7%;
	font-size: 0.75em;
}

li {
	display: inline-block;
	width: 25%;
	margin: 5px 0;
	padding: 0 5px;
}

.image {
	width: 50px;
	max-width: 100%;
	height: 70px;
	padding: 5%;
}

.image_text {
	text-align: center;
	padding: 0 3px;
}